* {
  margin: 0; 
  padding: 0; 
}
.App::after {
  content: ""; 
  clear: both; 
  display: block; 
}

body {
  background-color: #c1edf0;;
}

.text-area {
  margin-top: 5%; 
  margin-left: 10%; 
  float: left; 
}

.text-area__area {
  border-radius: 5px; 
  width: 400px; 
  height: 400px;
  box-shadow: 0 0 15px rgba( 0,0,0,.3);
  border: 1px solid rgb(214, 212, 212);
  background-color: #fff;
  padding: 20px; 
  color: rgba(0,0,0,0.8);

}
.markup-area {
  margin-top: 5%; 
  float: left; 
  margin-left: 5%;  
  font-size: 1.3rem; 
  font-weight: bold; 
}



